*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif; 
}
img{
  max-width: 60%;
  padding: 15px;
}
header{
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.container{
  max-width: 880px;
  margin: 0 auto;
}

header ul{
  display: flex;
  list-style: none;
  align-items: center;
  
}
header ul li{
  padding: 0 10px;
  
}
header ul li a{
  text-decoration: none;
  color: #000;
  font-size: 10px;
  font-weight: 700;
}
header ul li a:hover{
  color: rgb(47, 134, 192);
  border-bottom: 2px solid rgb(47, 134, 192);
}
  

